.create-course-page {

    min-height: 88vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 2rem;

}

.course-form {

    width: 100%;

    max-width: 650px;

    background:
        rgba(69, 70, 73, 0.579);

    backdrop-filter: blur(10px);

    padding: 2rem;

    border-radius: 28px;

    display: flex;

    flex-direction: column;

    gap: 1.2rem;

    box-shadow:
        0 20px 40px rgba(0,0,0,0.3);
}

.course-form h1 {

    color: white;

    margin-bottom: 1rem;

    font-size: 2rem;
}

.course-form input,
.course-form textarea {

    border: none;

    outline: none;

    padding: 1rem;

    border-radius: 16px;

    background: #2527297b;

    color: white;

    font-size: 1rem;
}

.course-form textarea {

    min-height: 180px;

    resize: vertical;
}

.course-form button {

    border: none;

    padding: 1rem;

    border-radius: 16px;

    background:
        linear-gradient(
            135deg,
            #1111122d,
            #6464653d
        );

    color: white;

    font-size: 1rem;

    font-weight: 600;

    cursor: pointer;

    transition:
        transform 0.2s ease;
}

.course-form button {

    border: none;

    padding: 1rem;

    border-radius: 16px;

    background:
        linear-gradient(
            155deg,
            #232323,
            #1b1a1a3c
        );

    width: 120px;

    color: white;

    font-size: 1rem;

    font-weight: 600;

    cursor: pointer;

    transition:
        transform 0.2s ease;
}

.course-form button:hover {
    transform: translateY(-2px);
}

.error {

    color: #650202;
}