.course-grid {

    display: grid;

    grid-template-columns:
        repeat(3, 450px);

    gap: 2rem;

    justify-content: center;

    padding: 2rem;
}

.course-card {

    background: #131313f4;

    border-radius: 24px;

    overflow: hidden;

    transition:
        transform 0.3s ease;

    box-shadow:
        0 10px 25px rgba(0,0,0,0.25);
}

.course-card:hover {

    transform: translateY(-6px);
}

.course-banner {

    height: 160px;

    background:
        linear-gradient(
            135deg,
            #cead88,
            rgba(142, 61, 7, 0.854)
        );

    display: flex;

    align-items: end;

    padding: 1rem;
}

.course-banner h2 {

    color: white;
}

.course-content {

    padding: 1.2rem;
}

.course-content p {

    color: #9ca3af;

    margin-bottom: 1rem;
}

.course-content button {

    width: 100%;

    border: none;

    padding: 0.8rem;

    border-radius: 12px;

    background: #2563eb;

    color: white;

    font-weight: 600;

    cursor: pointer;
}

.pagination {

    display: flex;

    justify-content: center;

    gap: 1rem;

    margin-top: 2rem;
}

.pagination button {

    padding: 0.7rem 1.2rem;

    border: none;

    border-radius: 12px;

    background: #1f2937;

    color: white;

    cursor: pointer;
}