.course-form{
    background-color: #f3e2d2b9;
    padding: 40px;
    padding-right: 70px;
    border-radius: 12px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap:16px;
    max-height: 400px;
    min-width: 400px;
}

.course-form-title{
    font-size: 32px;
    margin-bottom: 10px;
}

.course-form label{
    color: rgba(35, 35, 35, 0.944);
    font-weight: 600;
}

.course-form input{
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.course-form input:focus{
    border-color: #1f0536;
}

.course-form button{
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: #07020cd5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.course-form button:hover {
    background-color: #000000e9;
}