.header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size: 75px;
    padding: 10px;
}

.header-container {
    /* background-color: rgba(168, 15, 122, 0.854); */
    background-image: linear-gradient(to bottom, rgba(233, 214, 227, 0.375), rgba(142, 61, 7, 0.854));
    display: flex;
    justify-content: space-between;
}